beanmachine.ppl.compiler.bmg\_requirements module
=================================================

.. automodule:: beanmachine.ppl.compiler.bmg_requirements
   :members:
   :undoc-members:
   :show-inheritance:
