name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.9]
    defaults:
      run:
        # https://github.com/conda-incubator/setup-miniconda/tree/v2#use-a-default-shell
        shell: bash -l {0}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Miniconda with Python ${{ matrix.python-version }}
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        miniconda-version: "latest"
        python-version: ${{ matrix.python-version }}
        activate-environment: test_env

    - name: Install dependencies
      run: |
        conda install -c conda-forge -y boost-cpp eigen range-v3
        pip install torch --extra-index-url https://download.pytorch.org/whl/cpu
        VERSION=$(grep "version" .pyre_configuration | sed -n -e 's/.*\(0\.0\.[0-9]*\).*/\1/p')
        pip install pyre-check-nightly==$VERSION
        pip install -v .[dev]

    - name: Print out package info to help with debug
      run: pip list

    - name: Lint with flake8
      run: flake8 .

    - name: Lint with ufmt (black + usort)
      run: ufmt check .*/beanmachine/src

    - name: Run Pyre
      run: true # pyre
