name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  PYTHONUNBUFFERED: 1
  PYTEST_ADDOPTS: "--color=yes"

jobs:
  conda-install:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: [3.7]
    defaults:
      run:
        # https://github.com/conda-incubator/setup-miniconda/tree/v2#use-a-default-shell
        shell: bash -l {0}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Miniconda with Python ${{ matrix.python-version }}
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        miniconda-version: "latest"
        python-version: ${{ matrix.python-version }}
        activate-environment: test_env

    - name: Install dependencies
      run: |
        conda install -y eigen boost
        python -m pip install --upgrade pip

    - name: Install Bean Machine in editable mode
      run: pip install -v -e .[dev]

    - name: Install pytest 7.0 (with a importlib patch in pytest-dev/pytest#7870)
      run: pip install git+https://github.com/pytest-dev/pytest.git@7.0.0.dev0

    - name: Print out package info to help with debug
      run: pip list

    - name: Run unit tests with pytest
      run: pytest --cov=. --cov-report term-missing
